.venv/
book/

*.iso
*.log
*.png
*.tgz
*kubeconfig.yaml
*kubeconfig
Chart.lock
*hosts.yml
.idea/.gitignore
.idea/homelab.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.gitignore
.vscode/launch.json
