app-template:
  controllers:
    main:
      strategy: RollingUpdate

      containers:
        main:
          image:
            repository: serjs/go-socks5-proxy
            tag: latest@sha256:d19b9977ebf01739d204efe3c4b1e3b4fa995db3e3b88f5801adfb6c41b1ac2e
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false

      pod:
        annotations:
          setGateway: "true"

  service:
    main:
      type: LoadBalancer
      externalTrafficPolicy: Local
      annotations:
        metallb.universe.tf/allow-shared-ip: default
      ports:
        http:
          port: 1080
