app-template:
  controllers:
    main:
      strategy: RollingUpdate

      containers:
        main:
          image:
            repository: serjs/go-socks5-proxy
            tag: latest@sha256:847fa485f52f4d99668584b620a89acebfe86bc6f2ac1acb6f4dc6b6cb8cbcd0
          env:
            REQUIRE_AUTH: "false"
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false

      pod:
        annotations:
          setGateway: "true"

  service:
    main:
      type: LoadBalancer
      annotations:
        metallb.universe.tf/allow-shared-ip: default
      ports:
        http:
          port: 1080
