app-template:
  controllers:
    litellm:
      strategy: RollingUpdate

      containers:
        main:
          image:
            repository: ghcr.io/berriai/litellm-non_root
            tag: main-v1.79.3-stable
          env:
            TZ: "Europe/Berlin"
            LITELLM_MODE: "production"
            LITELLM_DONT_SHOW_FEEDBACK_BOX: "True"
            DATABASE_URL:
              valueFrom:
                secretKeyRef:
                  name: database-litellm-user
                  key: POSTGRES_URL
          envFrom:
            - secretRef:
                name: litellm-secrets
          args:
            - --port
            - "4000"
            - --config
            - /app/config.yaml
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health/liveliness
                  port: 4000
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health/readiness
                  port: 4000
#          securityContext:
#            allowPrivilegeEscalation: false
#            readOnlyRootFilesystem: true
#            capabilities: { drop: [ "ALL" ] }

    cliproxyapi:
      strategy: RollingUpdate

      containers:
        main:
          image:
            repository: eceasy/cli-proxy-api
            tag: latest
          env:
            TZ: "Europe/Berlin"
#          securityContext:
#            allowPrivilegeEscalation: false
#            readOnlyRootFilesystem: true
#            capabilities: { drop: [ "ALL" ] }

#  defaultPodOptions:
#    securityContext:
#      runAsNonRoot: true
#      runAsUser: 1000
#      runAsGroup: 1000
#      fsGroup: 1000
#      fsGroupChangePolicy: OnRootMismatch
#      seccompProfile: { type: RuntimeDefault }

  service:
    litellm:
      controller: litellm
      ports:
        http:
          port: 4000
    cliproxyapi:
      controller: cliproxyapi
      ports:
        http:
          port: 8317

  litellm:
    main:
      enabled: true
      className: nginx
      annotations:
        external-dns.alpha.kubernetes.io/target: "lb1.serverton.de"
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host "litellm.serverton.de"
          paths:
            - path: /
              service:
                identifier: main
                port: http
      tls:
        - secretName: litellm-tls-certificate
          hosts:
            - *host

  persistence:
    dotconfig:
      enabled: true
      accessMode: ReadWriteOnce
      size: 250Mi
      advancedMounts:
        litellm:
          main:
            - path: /app/.config

    cliauthdir:
      enabled: true
      accessMode: ReadWriteOnce
      size: 250Mi
      advancedMounts:
        cliproxyapi:
          main:
            - path: /root/.cli-proxy-api

    config:
      type: configMap
      name: litellm-configmap
      advancedMounts:
        litellm:
          main:
            - path: /app/config.yaml
              subPath: config.yaml

    cliconfig:
      type: configMap
      name: cliproxyapi-configmap
      advancedMounts:
        cliproxyapi:
          main:
            - path: /CLIProxyAPI/config.yaml
              subPath: config.yaml

    migrations:
      type: emptyDir
      advancedMounts:
        litellm:
          main:
            - path: /usr/lib/python3.13/site-packages/litellm_proxy_extras/migrations
              subPath: migrations

    cache:
      type: emptyDir
      globalMounts:
        - path: /.cache
          subPath: cache
        - path: /.npm
          subPath: npm
        - path: /tmp
          subPath: tmp
