app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/berriai/litellm-non_root
            tag: main-v1.79.3-stable
          env:
            TZ: "Europe/Berlin"
            LITELLM_MODE: "production"
            LITELLM_DONT_SHOW_FEEDBACK_BOX: "True"
            DATABASE_URL:
              valueFrom:
                secretKeyRef:
                  name: database-litellm-user
                  key: POSTGRES_URL
          envFrom:
            - secretRef:
                name: litellm-secrets
          args:
            - --port
            - "4000"
            - --config
            - /app/config.yaml
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health/liveliness
                  port: 4000
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health/readiness
                  port: 4000
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities: { drop: [ "ALL" ] }

  defaultPodOptions:
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch
      seccompProfile: { type: RuntimeDefault }

  service:
    main:
      ports:
        http:
          port: 4000

  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        external-dns.alpha.kubernetes.io/target: "lb1.serverton.de"
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &host "litellm.serverton.de"
          paths:
            - path: /
              service:
                identifier: main
                port: http
      tls:
        - secretName: litellm-tls-certificate
          hosts:
            - *host

  persistence:
    dotconfig:
      enabled: true
      accessMode: ReadWriteOnce
      size: 250Mi
      globalMounts:
        - path: /app/.config

    config:
      type: configMap
      name: litellm-configmap
      globalMounts:
        - path: /app/config.yaml
          subPath: config.yaml

    migrations:
      type: emptyDir
      globalMounts:
        - path: /usr/lib/python3.13/site-packages/litellm_proxy_extras/migrations
          subPath: migrations

    cache:
      type: emptyDir
      globalMounts:
        - path: /.cache
          subPath: cache
        - path: /.npm
          subPath: npm
        - path: /tmp
          subPath: tmp
