pod-gateway:
  image:
    repository: ghcr.io/angelnu/pod-gateway
    tag: v1.12.0
  routed_namespaces:
    - servarr
    - vpn-proxy
  settings:
    VPN_INTERFACE: wg0
    VPN_BLOCK_OTHER_TRAFFIC: true
    VPN_TRAFFIC_PORT: 1637
    NOT_ROUTED_TO_GATEWAY_CIDRS: "10.42.0.0/16 10.43.0.0/16"
    VPN_LOCAL_CIDRS: "10.42.0.0/16 10.43.0.0/16"
    IPTABLES_NFT: yes
    SNAT_IP: "10.142.189.251"
  webhook:
    gatewayDefault: false
    image:
      repository: ghcr.io/angelnu/gateway-admision-controller
      tag: v3.12.0
  publicPorts:
    - IP: 10
      hostname: transmission
      ports:
        - port: 9453
          type: udp
        - port: 9453
          type: tcp
  addons:
    vpn:
      enabled: true
      type: gluetun
      gluetun:
        image:
          repository: docker.io/qmcgaw/gluetun
          tag: v3.38.0
      envFrom:
        - secretRef:
            name: wireguard-config
      securityContext:
        capabilities:
          add: [ "NET_ADMIN" ]
      networkPolicy:
        enabled: true
        egress:
          - to:
              - ipBlock:
                  cidr: 0.0.0.0/0
            ports:
              - port: 1637
                protocol: UDP
          - to:
              - namespaceSelector: {}
      livenessProbe:
        exec:
          command:
            - sh
            - -c
            - if [ $(wget -q -O- https://ipinfo.io/country) == 'NL' ]; then exit 0; else exit $?; fi
        initialDelaySeconds: 30
        periodSeconds: 60