app-template:

  controllers:
    main:
      strategy: RollingUpdate

      containers:
        main:
          image:
            repository: docker.getoutline.com/outlinewiki/outline
            tag: latest
          env:
            URL: "https://outline.serverton.de"
            REDIS_URL: "redis://localhost:6379"
            DATABASE_URL:
              valueFrom:
                secretKeyRef:
                  name: database-outline-user
                  key: POSTGRES_URL
            PGSSLMODE: "disable"
            FILE_STORAGE: "local"
            FILE_STORAGE_LOCAL_ROOT_DIR: "/var/lib/outline/data"
            FILE_STORAGE_UPLOAD_MAX_SIZE: "26214400"
          envFrom:
            - secretRef:
                name: outline-secret
          securityContext:
            runAsUser: 1001
            runAsGroup: 65533
        redis:
          image:
            repository: public.ecr.aws/docker/library/redis
            tag: 8.4.0

      pod:
        securityContext:
          fsGroup: 65533
          fsGroupChangePolicy: Always

  persistence:
    data:
      enabled: true
      accessMode: ReadWriteOnce
      size: 5Gi
      advancedMounts:
        main:
          main:
            - path: /var/lib/outline/data
      dataSourceRef:
        kind: ReplicationDestination
        apiGroup: volsync.backube
        name: outline-dst

  service:
    main:
      ports:
        http:
          port: 3000

  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        external-dns.alpha.kubernetes.io/target: "lb1.serverton.de"
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/proxy-body-size: 4G
      hosts:
        - host: &host "outline.serverton.de"
          paths:
            - path: /
              service:
                name: main
                port: http
      tls:
        - secretName: outline-tls-certificate
          hosts:
            - *host
