app-template:
  controllers:
    main:
      strategy: RollingUpdate

      pod:
        securityContext:
          runAsUser: 1001
          runAsGroup: 1001
          fsGroup: 1001
          fsGroupChangePolicy: OnRootMismatch

      containers:
        main:
          image:
            repository: actualbudget/actual-server
            tag: 26.2.0
          env:
            TZ: "Europe/Berlin"
            ACTUAL_PORT: "5006"
            ACTUAL_LOGIN_METHOD: "openid"
        rest:
          image:
            repository: ghcr.io/antoncuranz/actual-http-api
            tag: latest
            pullPolicy: Always
          env:
            ACTUAL_SERVER_URL: "http://actual.actual.svc.cluster.local:5006"
          envFrom:
            - secretRef:
                name: actual-secrets

  persistence:
    data:
      enabled: true
      accessMode: ReadWriteOnce
      size: 4Gi
      dataSourceRef:
        kind: ReplicationDestination
        apiGroup: volsync.backube
        name: actual-dst

  service:
    main:
      ports:
        http:
          port: 5006
        rest:
          enable: true
          port: 5007

  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/target: "lb1.serverton.de"
        nginx.ingress.kubernetes.io/proxy-body-size: 4G
      hosts:
        - host: &host "actual.serverton.de"
          paths:
            - path: /
              service:
                name: main
                port: http
      tls:
        - secretName: actual-tls-certificate
          hosts:
            - *host
